  <main class="holder">
    <div class="homeimg">
      <img src="images/home/img01.jpg" alt="Avion">
    </div>
    <div class="columnas">
      <div class="bienvenidos">
        <h2>Bienvenidos</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Assumenda mollitia accusantium adipisci aspernatur
          consequatur, impedit molestias veritatis esse reiciendis quia iure, temporibus quo cupiditate nobis ipsa,
          cumque vel veniam ipsum.</p>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Assumenda mollitia accusantium adipisci aspernatur
            consequatur, impedit molestias veritatis esse reiciendis quia iure, temporibus quo cupiditate nobis ipsa,
            cumque vel veniam ipsum.</p>
      </div>
      <div class="testimonios">
        <h2>Testimonio</h2>
        <div class="testimonio">
          <span class="cita">Simplemente excelente</span>
          <span class="autor">Juan Perez - zapatos.com</span>
        </div>

      </div>

    </div>
  </main>