<main class="holder">
        <div class="historia">
            <h2>Historia</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam doloremque incidunt optio debitis laborum
                quod
                qui in ut? Consectetur hic dolorum tempora cupiditate? Fugit id laborum, culpa aspernatur libero rem.
            </p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia quis hic minima rerum, provident beatae ab
                voluptate excepturi aliquid error exercitationem enim eaque praesentium illum quod eveniet assumenda
                doloremque labore.</p>
        </div>
        <div class="staff">
            <h2>Staff</h2>
            <div class="personas">
                <div class="persona">
                    <img src="images/nosotros/nosotros1.jpg" alt="Juan Gomez">
                    <h5>Juan Gomez</h5>
                    <h6>Gerente General</h6>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, laudantium. Quos quasi dignissimos
                        reprehenderit repellendus, ullam recusandae eos quia modi. Exercitationem explicabo atque,
                        voluptate cum
                        deserunt minus numquam fuga officiis.</p>
                </div>
                <div class="persona">
                    <img src="images/nosotros/nosotros2.jpg" alt="Alicia Garcia">
                    <h5>Alicia Garcia</h5>
                    <h6>Gerente General</h6>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, laudantium. Quos quasi dignissimos
                        reprehenderit repellendus, ullam recusandae eos quia modi. Exercitationem explicabo atque,
                        voluptate cum
                        deserunt minus numquam fuga officiis.</p>
                </div>
                <div class="persona">
                    <img src="images/nosotros/nosotros3.jpg" alt="Pedro Lopez">
                    <h5>Pedro Lopez</h5>
                    <h6>Gerente General</h6>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, laudantium. Quos quasi dignissimos
                        reprehenderit repellendus, ullam recusandae eos quia modi. Exercitationem explicabo atque,
                        voluptate cum
                        deserunt minus numquam fuga officiis.</p>
                </div>
                <div class="persona">
                    <img src="images/nosotros/nosotros4.jpg" alt="Melina Roso">
                    <h5>Melina Roso</h5>
                    <h6>Gerente General</h6>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, laudantium. Quos quasi dignissimos
                        reprehenderit repellendus, ullam recusandae eos quia modi. Exercitationem explicabo atque,
                        voluptate cum
                        deserunt minus numquam fuga officiis.</p>
                </div>
                <div class="persona">
                    <img src="images/nosotros/nosotros5.jpg" alt="Esteban Duarte">
                    <h5>Esteban Duarte</h5>
                    <h6>Gerente General</h6>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, laudantium. Quos quasi dignissimos
                        reprehenderit repellendus, ullam recusandae eos quia modi. Exercitationem explicabo atque,
                        voluptate cum
                        deserunt minus numquam fuga officiis.</p>
                </div>
            </div>
        </div>
    </main>