 <main class="holder">
        <h2>Novedades</h2>
        <div class="novedades">
            <h3>TITULO</h3>
            <h4>Subtitulo</h4>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reprehenderit exercitationem voluptas,
                perferendis nemo illum cumque ex impedit! Corrupti, quas laudantium dolor reiciendis corporis voluptate
                repudiandae quia harum, quis amet eaque?</p>
                <hr>
        </div>
        <div class="novedades">
            <h3>TITULO</h3>
            <h4>Subtitulo</h4>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reprehenderit exercitationem voluptas,
                perferendis nemo illum cumque ex impedit! Corrupti, quas laudantium dolor reiciendis corporis voluptate
                repudiandae quia harum, quis amet eaque?</p>
                <hr>
        </div>
        <div class="novedades">
            <h3>TITULO</h3>
            <h4>Subtitulo</h4>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reprehenderit exercitationem voluptas,
                perferendis nemo illum cumque ex impedit! Corrupti, quas laudantium dolor reiciendis corporis voluptate
                repudiandae quia harum, quis amet eaque?</p>
                <hr>
        </div>
    </main>