 <main class="holder">
        <h2>Servicios</h2>
        <div class="servicio">
            <img src="images/servicios/aereo.jpg" alt="Avion">
            <div class="info">
                <h4>Transporte Aereo</h4>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequatur delectus eius excepturi
                    laudantium ad nihil hic quod cupiditate voluptatibus! Modi, provident? Laboriosam dignissimos
                    voluptate id nostrum possimus explicabo labore. Impedit.</p>

            </div>
        </div>

        <div class="servicio">
            <img src="images/servicios/ferroviario.jpg" alt="Tren">
            <div class="info">
                <h4>Transporte Ferroviario</h4>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequatur delectus eius excepturi
                    laudantium ad nihil hic quod cupiditate voluptatibus! Modi, provident? Laboriosam dignissimos
                    voluptate id nostrum possimus explicabo labore. Impedit.</p>

            </div>
        </div>

        <div class="servicio">
            <img src="images/servicios/maritimo.jpg" alt="Barco">
            <div class="info">
                <h4>Transporte Maritimo</h4>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequatur delectus eius excepturi
                    laudantium ad nihil hic quod cupiditate voluptatibus! Modi, provident? Laboriosam dignissimos
                    voluptate id nostrum possimus explicabo labore. Impedit.</p>

            </div>
        </div>

        <div class="servicio">
            <img src="images/servicios/terrestre.jpg" alt="Camion">
            <div class="info">
                <h4>Transporte Terrestre</h4>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequatur delectus eius excepturi
                    laudantium ad nihil hic quod cupiditate voluptatibus! Modi, provident? Laboriosam dignissimos
                    voluptate id nostrum possimus explicabo labore. Impedit.</p>

            </div>
        </div>

    </main>