/* font-family: 'Roboto', sans-serif;*/
h2{
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}
.caja {
    background: -webkit-linear-gradient(90deg, #a7ebc3 0%, #9fe5ec 80%);
    box-shadow: 15px 24px 19px -3px rgba(0,0,0,0.28);
    border: 9px solid #edeae9;
    width: 300px;
    height: 300px;
    padding: 30px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
}
#texto{
    background-color: #edeae9;
    column-count: 3;
    column-gap: 60px;
    padding: 30px;
    border: 6px solid grey;
    border-radius: 0 20px;
    text-align: justify ;
}
#texto p {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    
}
.i{
   font-size: 30px; 
}