<h2>Hola soy una página de contacto</h2>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minima dolore, ex quam magni fugiat neque porro delectus
    sapiente vel nesciunt animi enim aliquam vero molestiae. Doloribus ducimus eligendi at maxime!</p>